{{#extends "base"}}

{{#block "content"}}
<h1> Delete Staff</h1>
<form method="post">
<div id="deletecheck">


<H2 class="col-12"> Are you sure you want to delete {{name}} ? (This operation is irreversible.)</H2>

<div>
<input type="submit" value="Yes" class="btn btn-danger sm">
<a href="/" class="btn btn-success sm" id="noButton">NO</a>
</div>

</div>
</form>
{{/block}}

{{/extends}}