{{#extends "base"}}


{{#block "content"}}
<h1 class="rounded-left">Staff Information System</h1>

<!-- Code by w3codegenerator.com -->
<div class="table-responsive">
    <table class="table  table-striped">
        <thead>
            <tr>
                <th class="col-1 text-center">Name</th>
                <th class="col-1 text-center">M/F</th>
                <th class="col-1 text-center">Branch</th>
                <th class="col-8">Services</th>
                <th class="col-1 text-center">Action</th>
            </tr>
        </thead>
        <tbody>
             {{#each staff}}
            <tr>
                <td class="text-center">{{this.name}}</td>
                <td class="text-center">{{this.gender}}</td>
                <td class="text-center">{{this.branch}}</td>
                <td>{{this.services}}</td>
                <td class="align-middle text-center"><a href="">Edit</a> <a href="/deletestaff">Delete</a></td>
            </tr>
          
            {{/each}}

        </tbody>
    </table>
</div>


{{/block}}

{{/extends}}